html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}


/*              ---- IFRAME_SECTION_CONTROLLER ---- */
.player {
    aspect-ratio: 16 / 9;
    /* With the "aspect-ratio" attribute, I will only 
    have to assign a width, and the browser will
    automatically set a perfect height that matches
    the said width. Without the black bars around
    the edge of the frame
*/
    width: 600px;
    position: absolute;
}

#container {
    position: relative;
}

#frame {
    position: absolute;
}